<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold pb-3 mb-5">Publications</h3>
   
    <p><b>C. Wang</b>, K. V. Krishnamurthy, S. Pitroda, A. Salagame, I. Mandralis, E. Sihite, A. Ramezani, and M. Gharib, "Integration of Dynamic Legged Locomotion and Aerial Mobility," 2025 IEEE International Conference on Robotics & Automation (ICRA), Atlanta, USA, May 19-23, 2025. [Submitted]</p>

    <p>S. Pitroda, E. Sihite, T. Liu, K. V. Krishnamurthy, <b>C. Wang</b>, A. Salagame, B. Gupta, I. Mandralis, A. Ramezani, and M. Gharib, "Thruster-assisted Stabilization of Frontal Dynamics in Dynamic Bipedal Locomotion," 2025 IEEE International Conference on Robotics & Automation (ICRA), Atlanta, USA, May 19-23, 2025. [Submitted]</p>

    <p><b>C. Wang</b>, E. Sihite, K. V. Krishnamurthy, S. Pitroda, A. Salagame, A. Ramezani, and M. Gharib, "Quadratic Programming-Based Posture Manipulation and Thrust-vectoring for Agile Dynamic Walking on Narrow Pathways," 2025 American Control Conference (ACC), Denver, CO, June 4-6, 2025.</p>

    <p>K. V. Krishnamurthy, <b>C. Wang</b>, S. Pitroda, A. Salagame, E. Sihite, A. Ramezani*, and M. Gharib, "Thruster-Assisted Incline Walking of a Legged-Aerial Robot Using Reduced Order Model and Collocation Method," 2025 American Control Conference (ACC), Denver, CO, June 4-6, 2025. </p>

    <p>S. Pitroda, E. Sihite, K. V. Krishnamurthy, <b>C. Wang</b>, A. Salagame, A. Ramezani*, and M. Gharib, "Conjugate momentum based thruster force estimate in dynamic multimodal robot," 2025 American Control Conference (ACC), Denver, CO, June 4-6, 2025.</p>
   
    <p>E. Sihite, S. Pitroda, T. Liu, <b>C. Wang</b>, K. V. Krishnamurthy, A. Salagame, A. Ramezani, and M. Gharib, "Posture manipulation of thruster-enhanced bipedal robot performing dynamic wall-jumping using model predictive control," 2024 IEEE-RAS International Conference on Humanoid Robots (Humanoids), Nancy, France, November 22-24, 2024.</p>

    <p>M. Jia†, H. Huang†, Z. Zhang*, <b>C. Wang</b>*, L. Zhao, D. Wang, J. X. Liu, R. Walters, R. Platt, and S. Tellex, "Open-vocabulary Pick and Place via Patch-level Semantic Maps," arXiv preprint arXiv:2406.15677, June 21, 2024.</p>

    <p>B. Hu, X. Zhu*, D. Wang*, Z. Dong*, H. Huang*, <b>C. Wang</b>*, R. Walters, and R. Platt, "OrbitGrasp: SE(3)-Equivariant Grasp Learning," 2024 Conference on Robot Learning (CoRL), Munich, Germany, November 6-9, 2024.</p>

    <p>K. V. Krishnamurthy, <b>C. Wang</b>, S. Pitroda, A. Salagame, E. Sihite, R. Nemovi, A. Ramezani, M. Gharib, “Narrow-Path, Dynamic Walking Using Integrated Posture Manipulation and Thrust Vectoring,” IEEE/ASME International Conference on Advanced Intelligent Mechatronics (AIM), Boston, MA, July 15-18, 2024</p>

    <p>S. Pitroda, A. Bondada, K. Venkatesh, A. Salagame, <b>C. Wang</b>, E. Sihite, R. Nemovi, A. Ramezani, and M. Gharib, “Capture Point Control in Thruster Assisted Bipedal Locomotion,” IEEE/ASME International Conference on Advanced Intelligent Mechatronics (AIM), Boston, MA, July 15-18, 2024</p>

    <p>A. Salagame, M. Gianello, <b>C. Wang</b>, K. Venkatesh, S. Pitroda, R. Rajput, E. Sihite, M. Leeser, A. Ramezani, “Quadrupedal Locomotion Control On Inclined Surfaces Using Collocation Method,” American Control Conference (ACC), Toronto, Canada, July 8-12, 2024</p>

    <p><b>Wang, C.</b> Legged Walking on Inclined Surfaces, Northeastern University, United States -- Massachusetts, 2023. ProQuest [Thesis]</p>

    <p>M. Jia, H. Huang, Z. Zhang, <b>C. Wang</b>, L. Zhao, D. Wang, J. X. Liu, R. Walters, R. Platt, and S. Tellex, "Equivariant Open-vocabulary Pick and Place via Language Kernels and Patch-level Semantic Maps," 2024 RSS Workshop on Task Specification for General-Purpose Intelligent Robots, Delft, Netherlands, July 19, 2024. [Workshop]</p>

    <p><b>Wang, C.</b>, E. Emanuel, K. V. Krishnamurthy, E. Sihite, A. Ramezani, “Introducing Husky Beta: A morpho-functional quadruped with aerial capabilities,” Northeast Robotics Colloquium (NERC), MA, United States, Oct. 8, 2022 [Workshop]</p>

  </div>
</div>
